@charset "UTF-8";

body {
		background-image: url("https://wallpapercave.com/wp/wp4103048.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	input[type=text],
	input[type=password] {
		width: 15%;
		padding: 12px 20px;
		margin: 8px 0;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	
	label {
		color:	white;
	}
	
	a {
		color: white;
	}